{% extends "base_jinja.html" %}

{% block title %}  {% endblock title %}

{% block stylesheets %}
    {{ super() }}
    <link rel="stylesheet" href="/static/leaflet/leaflet.css" />
    <link href="/static/leaflet/draw/leaflet.draw.css" type="text/css" media="screen" rel="stylesheet" />
    <style>
        .leaflet-container-default {
            min-height: 400px;
        }
    </style>
{% endblock stylesheets %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                IEU:
                <small>{%if agregar %}Agregar{% else %}Editar{% endif %} Localidad IEU</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Resumen LOEU</a></li>
                <li><a href="{{ url('oeu:listar-tipo-ieu') }}">Tipo IEU</a></li>
                <li><a href="{{ url('oeu:listar-sub-tipo-ieu') }}"> Sub Tipo IEU</a></li>
                <li><a href="{{ url('oeu:listar-tipo-especifico-ieu') }}"> Tipo Específico IEU</a></li>
                <li><a href="{{ url('oeu:listar-ieu') }}"> Institución de Educación Universitaria</a></li>
                <li><a href="{{ url('oeu:listar-localidad') }}"> Localidad IEU</a></li>
                <li class="active">{%if agregar %}Agregar{% else %}Editar{% endif %}</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            {% if get_messages(request) %}
                {% for message in get_messages(request) %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {% if message.tags == 'error' %}
                            <h4><i class="icon fa fa-ban"></i> ¡Alerta!</h4>
                        {% elif message.tags == 'warning' %}
                            <h4><i class="icon fa fa-warning"></i> ¡Cuidado!</h4>
                        {% elif message.tags == 'success' %}
                            <h4><i class="icon fa fa-check"></i> ¡Exito!</h4>
                        {% elif message.tags == 'info' %}
                            <h4><i class="icon fa fa-info"></i> ¡Atención!</h4>
                        {% endif %}
                        {{ message|safe }}
                        {% if form.errors %}
                            <ul>
                                {% for error in form.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="row">
                <div class="col-lg-6">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <b>Localidad IEU:</b> valores públicados
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            {% if object %}
                                <div class="row">
                                    <div class="col-md-8">
                                        <dl class="dl-horizontal">
                                            <dt>Tipo de IEU:</dt>
                                            <dd>{{ object.ieu.tipo_ieu }}</dd>
                                            <dt>Sub Tipo de IEU:</dt>
                                            <dd>{{ object.ieu.sub_tipo_ieu }}</dd>
                                            <dt>Tipo Específico de IEU:</dt>
                                            <dd>{{ object.ieu.tipo_especifico_ieu }}</dd>
                                            <dt>IEU:</dt>
                                            <dd>{{ object.ieu }}</dd>
                                            <dt>Siglas IEU:</dt>
                                            <dd>{{ object.ieu.institucion_ministerial.siglas }}</dd>
                                            <dt>Dependencia Admin:</dt>
                                            <dd>{{ object.ieu.institucion_ministerial.dep_admin }}</dd>
                                            <dt>Localidad:</dt>
                                            <dd>{{ object }}</dd>
                                            <dt>Revisor(es):</dt>
                                            <dd>
                                                {% for revisor in object.revisor.all() %}
                                                    {% if loop.index == 1 %}
                                                        {% set color = 'bg-green' %}
                                                    {% elif loop.index == 2 %}
                                                        {% set color = 'bg-blue' %}
                                                    {% elif loop.index == 3 %}
                                                        {% set color = 'bg-yellow' %}
                                                    {% elif loop.index == 4 %}
                                                        {% set color = 'bg-red' %}
                                                    {% elif loop.index == 5 %}
                                                        {% set color = 'bg-purple' %}
                                                    {% elif loop.index == 6 %}
                                                        {% set color = 'bg-orange' %}
                                                    {% endif %}
                                                    <small class="label {{ color }}">{{ revisor }}</small>
                                                {% endfor %}
                                            </dd>
                                            <dt>Editor:</dt>
                                            {% if object.editor %}
                                            <dd><small class="label bg-maroon">{{ object.editor }}</small></dd>
                                            {% endif %}
                                        </dl>
                                    </div>
                                    <div class="col-md-4"><a href="{{ object.ieu.logo.url }}" target="blank"><img class="img-responsive" src="{{ object.ieu.logo.url }}" alt="{{ object }}"></a></div>
                                </div>
                            {% endif %}
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                    {% if object %}
                        <div class="box box-info collapsed-box">
                            <div class="box-header with-border">
                                <b>Localidad IEU:</b> valores públicados - Fachada
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <a href="{{ object.fachada.url }}" target="blank"><img class="img-responsive pad" src="{{ object.fachada.url }}" alt="{{ object }}"></a>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                        <div class="box box-info collapsed-box">
                            <div class="box-header with-border">
                                <b>Localidad IEU:</b> valores públicados - Programas académicos
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                {% for programa in programas %}
                                    <ul>
                                        <li><a href="{{ url('oeuacademic:editar-carrera-pre-grado', args=[ programa.pk]) }}" target='_blank'>{{ programa }}</a></li>
                                    </ul>
                                {% endfor %}
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <b>Localidad IEU:</b> valores públicados - Ubicación
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div  id="mapid" style="height: 400px; width: 100%;"></div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    {% endif %}
                </div>
                <div class="col-lg-6">
                    <section id="bigMap" data-geojson="" class="geojson-container">
                        <form class="form-horizontal" enctype="multipart/form-data" role="form" action="{% if agregar %}{{ url('oeu:agregar-localidad') }}{% else %}{{ url('oeu:editar-localidad', args=[object.pk]) }}{% endif %}{% if 'filtro' in request.GET %}?filtro={{request.GET.filtro}}{% endif %}" method="post">
                            <div class="box box-warning">
                                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                <div class="box-header with-border">
                                    <b>Localidad IEU:</b> valores en revisión
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                    </div>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    {% if object %}
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">IEU:</label>
                                            <div class="col-sm-10">
                                                <input disabled type="text" name="nombre_edit" value="{{ object.ieu }}" class="form-control">
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% for field in form %}
                                        {% if field.name != 'cod_activacion' and field.name != 'publicar' and field.name != 'editor' and field.name != 'logo_edit' and field.name != 'fachada_edit' %}
                                            <div class="form-group">
                                                <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{{ field.label }}</label>
                                                <div class="col-sm-10">
                                                    {{ field }}
                                                </div>
                                                <span class="help-block">
                                                    {% for error in field.errors %}
                                                        <ul>
                                                            <li class="text-red">{{ error }}</li>
                                                        </ul>
                                                    {% endfor %}
                                                </span>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    <div class="form-group">
                                        <label for="{{ form.fachada_edit.id_for_label }}" class="col-sm-2 control-label">Fachada</label>
                                        <div class="col-sm-8">
                                            <div class="input-group input-file" name="{{ form.fachada_edit.name }}" id="{{ form.fachada_edit.id_for_label }}" >
                                                <span class="input-group-btn">
                                                    <button class="btn btn-primary btn-choose" type="button">Examinar</button>
                                                </span>
                                                <input type="text" class="form-control" accept="application/pdf" placeholder='Seleccione un documento...'/>
                                                <span class="input-group-btn">
                                                    <button class="btn btn-warning btn-reset" type="button">Reset</button>
                                                </span>
                                            </div>
                                            <span class="help-block">
                                                {% for error in form.fachada_edit.errors %}
                                                    <ul>
                                                        <li class="text-red">{{ error }}</li>
                                                    </ul>
                                                {% endfor %}
                                            </span>
                                        </div>
                                        {% if not agregar %}<div class="col-sm-2"><img class="img-responsive" src="{{ object.fachada_edit.url }}" alt="{{ object }}"></div>{% endif %}
                                    </div>
                                    {% if 'EditorOEU' is in_user_group(request.user) and not agregar %}
                                        <div class="form-group">
                                            <label for="{{ form.cod_activacion.id_for_label }}" class="col-sm-2 control-label">Estado</label>
                                            <div class="col-sm-10">
                                                <div class="input-group">
                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio" name="{{ form.cod_activacion.name }}" id="{{ form.cod_activacion.id_for_label }}" value="True" {% if activo == True%} checked{% endif %}>
                                                            Activo
                                                        </label>
                                                    </div>
                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio" name="{{ form.cod_activacion.name }}" id="{{ form.cod_activacion.id_for_label }}" value="False" {% if activo == False %} checked{% endif %}>
                                                            Inactivo
                                                        </label>
                                                    </div>
                                                </div>
                                                <span class="help-block">
                                                    {% for error in form.cod_activacion.errors %}
                                                        <ul>
                                                            <li class="text-red">{{ error }}</li>
                                                        </ul>
                                                    {% endfor %}
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="{{ form.publicar.id_for_label }}" class="col-sm-2 control-label">Publicar</label>
                                            <div class="col-sm-10">
                                                <div class="input-group">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="{{ form.publicar.name }}" id="{{ form.publicar.id_for_label }}">
                                                        </label>
                                                    </div>
                                                </div>
                                                <span class="help-block">
                                                    {% for error in form.publicar.errors %}
                                                        <ul>
                                                            <li class="text-red">{{ error }}</li>
                                                        </ul>
                                                    {% endfor %}
                                                </span>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if not agregar %}
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Revisor(es)</label>
                                            <div class="col-sm-10"><br>
                                                {% if object %}
                                                    {% for revisor in object.revisor_edit.all() %}
                                                        {% if loop.index == 1 %}
                                                            {% set color = 'bg-green' %}
                                                        {% elif loop.index == 2 %}
                                                            {% set color = 'bg-blue' %}
                                                        {% elif loop.index == 3 %}
                                                            {% set color = 'bg-yellow' %}
                                                        {% elif loop.index == 4 %}
                                                            {% set color = 'bg-red' %}
                                                        {% elif loop.index == 5 %}
                                                            {% set color = 'bg-purple' %}
                                                        {% elif loop.index == 6 %}
                                                            {% set color = 'bg-orange' %}
                                                        {% endif %}
                                                        <small class="label {{ color }}">{{ revisor }}</small>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                                <!-- /.box-body -->
                                <div class="box-footer">
                                    <button type="submit" class="btn btn-primary pull-right">{%if agregar %}Agregar{% else %}Editar{% endif %}</button>
                                </div>
                                <!-- /.box-footer -->
                            </div>
                            <!-- /.box -->
                            <div class="box box-success">
                                <div class="box-header with-border">
                                    Soportes Formales de Cambio
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    {{ sfc_form.management_form }}
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th clas='col-sm-10'>Soporte Formal de Cambio</th>
                                                <th class="text-center col-sm-2">Eliminar</th>
                                            </tr>
                                        </thead>
                                        {% for form in sfc_form.forms %}
                                            <tr class="formset_sfc">
                                                {% for field in form.visible_fields() %}
                                                    <td class="text-center">
                                                        {% if loop.first %}
                                                            {% for hidden in form.hidden_fields() %}
                                                                {{ hidden }}
                                                            {% endfor %}
                                                        {% endif %}
                                                        {{ field.errors }}
                                                        {{ field }}
                                                    </td>
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                            <div class="box box-success">
                                <div class="box-header with-border">
                                    Ayudas Económicas
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    {{ ayuda_form.management_form }}
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th clas='col-sm-10'>Ayuda Económica</th>
                                                <th class="text-center col-sm-2">Eliminar</th>
                                            </tr>
                                        </thead>
                                        {% for form in ayuda_form.forms %}
                                            <tr class="formset_ayuda">
                                                {% for field in form.visible_fields() %}
                                                    <td class="text-center">
                                                        {% if loop.first %}
                                                            {% for hidden in form.hidden_fields() %}
                                                                {{ hidden }}
                                                            {% endfor %}
                                                        {% endif %}
                                                        {{ field.errors }}
                                                        {{ field }}
                                                    </td>
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                            <div class="box box-success">
                                <div class="box-header with-border">
                                    Agrupaciones Cívicas
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    {{ agrupacion_form.management_form }}
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th clas='col-sm-10'>Agrupación Cívica</th>
                                                <th class="text-center col-sm-2">Eliminar</th>
                                            </tr>
                                        </thead>
                                        {% for form in agrupacion_form.forms %}
                                            <tr class="formset_agrupacion">
                                                {% for field in form.visible_fields() %}
                                                    <td class="text-center">
                                                        {% if loop.first %}
                                                            {% for hidden in form.hidden_fields() %}
                                                                {{ hidden }}
                                                            {% endfor %}
                                                        {% endif %}
                                                        {{ field.errors }}
                                                        {{ field }}
                                                    </td>
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                            <div class="box box-success">
                                <div class="box-header with-border">
                                    Actividades Culturales
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    {{ actividad_form.management_form }}
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th clas='col-sm-10'>Actividad Cultural</th>
                                                <th class="text-center col-sm-2">Eliminar</th>
                                            </tr>
                                        </thead>
                                        {% for form in actividad_form.forms %}
                                            <tr class="formset_actividad">
                                                {% for field in form.visible_fields() %}
                                                    <td class="text-center">
                                                        {% if loop.first %}
                                                            {% for hidden in form.hidden_fields() %}
                                                                {{ hidden }}
                                                            {% endfor %}
                                                        {% endif %}
                                                        {{ field.errors }}
                                                        {{ field }}
                                                    </td>
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                            <div class="box box-success">
                                <div class="box-header with-border">
                                    Disciplinas Deportivas
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    {{ disciplina_form.management_form }}
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th clas='col-sm-10'>Disciplina Deportiva</th>
                                                <th class="text-center col-sm-2">Eliminar</th>
                                            </tr>
                                        </thead>
                                        {% for form in disciplina_form.forms %}
                                            <tr class="formset_disciplina">
                                                {% for field in form.visible_fields() %}
                                                    <td class="text-center">
                                                        {% if loop.first %}
                                                            {% for hidden in form.hidden_fields() %}
                                                                {{ hidden }}
                                                            {% endfor %}
                                                        {% endif %}
                                                        {{ field.errors }}
                                                        {{ field }}
                                                    </td>
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                            <div class="box box-success">
                                <div class="box-header with-border">
                                    Redes Sociales
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    {{ redsocial_form.management_form }}
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Red Social</th>
                                                <th>Enlace o Dirección</th>
                                                <th class="text-center col-sm-2">Eliminar</th>
                                            </tr>
                                        </thead>
                                        {% for form in redsocial_form.forms %}
                                            <tr class="formset_redsocial">
                                                {% for field in form.visible_fields() %}
                                                    <td class="text-center">
                                                        {% if loop.first %}
                                                            {% for hidden in form.hidden_fields() %}
                                                                {{ hidden }}
                                                            {% endfor %}
                                                        {% endif %}
                                                        {{ field.errors }}
                                                        {{ field }}
                                                    </td>
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                            <div class="box box-success">
                                <div class="box-header with-border">
                                    Organizaciones Estudiantiles
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    {{ organizacion_form.management_form }}
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th clas='col-sm-10'>Organización Estudiantil</th>
                                                <th class="text-center col-sm-2">Eliminar</th>
                                            </tr>
                                        </thead>
                                        {% for form in organizacion_form.forms %}
                                            <tr class="formset_organizacion">
                                                {% for field in form.visible_fields() %}
                                                    <td class="text-center">
                                                        {% if loop.first %}
                                                            {% for hidden in form.hidden_fields() %}
                                                                {{ hidden }}
                                                            {% endfor %}
                                                        {% endif %}
                                                        {{ field.errors }}
                                                        {{ field }}
                                                    </td>
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                            <div class="box box-success">
                                <div class="box-header with-border">
                                    Requisitos de Ingresos
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    {{ requisito_form.management_form }}
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th clas='col-sm-10'>Requisito de Ingreso</th>
                                                <th class="text-center col-sm-2">Eliminar</th>
                                            </tr>
                                        </thead>
                                        {% for form in requisito_form.forms %}
                                            <tr class="formset_requisito">
                                                {% for field in form.visible_fields() %}
                                                    <td class="text-center">
                                                        {% if loop.first %}
                                                            {% for hidden in form.hidden_fields() %}
                                                                {{ hidden }}
                                                            {% endfor %}
                                                        {% endif %}
                                                        {{ field.errors }}
                                                        {{ field }}
                                                    </td>
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                            <div class="box box-success">
                                <div class="box-header with-border">
                                    Servicios
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    {{ servicio_form.management_form }}
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th clas='col-sm-10'>Servicio</th>
                                                <th class="text-center col-sm-2">Eliminar</th>
                                            </tr>
                                        </thead>
                                        {% for form in servicio_form.forms %}
                                            <tr class="formset_servicio">
                                                {% for field in form.visible_fields() %}
                                                    <td class="text-center">
                                                        {% if loop.first %}
                                                            {% for hidden in form.hidden_fields() %}
                                                                {{ hidden }}
                                                            {% endfor %}
                                                        {% endif %}
                                                        {{ field.errors }}
                                                        {{ field }}
                                                    </td>
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                                <!-- /.box-body -->
                            </div>
                        </form>
                    </section>
                </div>
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock content %}

{% block javascripts %}
    {{ form.media.js }}
    {{ super() }}
    <!-- Auto Complete Light -->
    <script type="text/javascript" src="{{ static('autocomplete_light/jquery.init.js') }}"></script>
    <script type="text/javascript" src="{{ static('autocomplete_light/autocomplete.init.js') }}"></script>
    <script type="text/javascript" src="{{ static('autocomplete_light/vendor/select2/dist/js/select2.full.js') }}"></script>
    <script type="text/javascript" src="{{ static('autocomplete_light/select2.js') }}"></script>
    <!-- Leaflet -->
    <script src="/static/leaflet/leaflet.js" type="text/javascript"></script>
    <script src="/static/leaflet/leaflet.extras.js" type="text/javascript"></script>
    <!-- <script type="text/javascript" src="/static/js/GeoLocalidadIeu.js" charset="utf-8"></script> -->
    <script type="text/javascript" src="/static/leaflet/draw/leaflet.draw.js"></script>
    <script type="text/javascript" src="/static/leaflet/leaflet.forms.js"></script>
    <script type="text/javascript">
        L.Control.ResetView.TITLE = "Reinicializar la vista";
        L.Control.ResetView.ICON = "url(/static/leaflet/images/reset-view.png)";
    </script>
    <script type="text/javascript" src="{{ static('Leaflet.Icon.Glyph-gh-pages/Leaflet.Icon.Glyph.js') }}"></script>
    <!-- Leaflet inicialización del mapa -->
    {% if object and not agregar %}
        <script>
            var mbAttr = 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                    '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                    'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                mbUrl = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiZ3ZpenF1ZWwiLCJhIjoiY2szOWVzMnpvMDFpMDNtbmp0YnAzd2s0NCJ9.q34qYWhksU2bEuTs-UGPAg';

            var mapa   = L.tileLayer(mbUrl, {id: 'mapbox.streets', attribution: mbAttr}),
                satelite  = L.tileLayer(mbUrl, {id: 'mapbox.streets-satellite',   attribution: mbAttr});

            var mapa = L.map('mapid', {
                center: [7.0000000, -65.0000000],
                zoom: 5,
                layers: [mapa]
            });

            var baseLayers = {
                "Mapa": mapa,
                "Satélite": satelite
            };

            L.control.layers(baseLayers).addTo(mapa);

            var coordenadas = {{ localidad.punto["coordinates"] }};
            var lat = coordenadas[0];
            var lon = coordenadas[1];

            L.marker(
                    [lon,lat], {
                        icon: L.icon.glyph({
                            prefix: 'fa',
                            glyph: 'graduation-cap'
                        })
                    }
                ).addTo(mapa).bindPopup("{{ object }}").openPopup();
        </script>
    {% endif %}

    <!-- Formset -->
    <script src="{{ static('formset/jquery.formset.js') }}"></script>
    <script type="text/javascript">
        $('.formset_sfc').formset({
            addText: 'Agregar SFC',
            deleteText: 'Eliminar'
        });
        $('.formset_ayuda').formset({
            addText: 'Agregar Ayuda Económica',
            deleteText: 'Eliminar'
        });
        $('.formset_agrupacion').formset({
            addText: 'Agregar AC',
            deleteText: 'Eliminar'
        });
        $('.formset_actividad').formset({
            addText: 'Agregar ACC',
            deleteText: 'Eliminar'
        });
        $('.formset_disciplina').formset({
            addText: 'Agregar DD',
            deleteText: 'Eliminar'
        });
        $('.formset_redsocial').formset({
            addText: 'Agregar RS',
            deleteText: 'Eliminar'
        });
        $('.formset_organizacion').formset({
            addText: 'Agregar OE',
            deleteText: 'Eliminar'
        });
        $('.formset_requisito').formset({
            addText: 'Agregar RI',
            deleteText: 'Eliminar'
        });
        $('.formset_servicio').formset({
            addText: 'Agregar SERV',
            deleteText: 'Eliminar'
        });
    </script>

    <script>
        // Select2 que no es del auto-complete-ligth
        $(function () {
          //Initialize Select2 Elements
          $('#id_localidadsfc_set-0-sfc').select2();
          $('#id_localidadayudaeconomica_set-0-ayuda_economica').select2();
          $('#id_tipo_localidad_edit').select2();
          $('.select2ieu').select2();

        });

        function bs_input_file2() {
            $("#id_fachada_edit").before(
                function() {
                    if ( ! $(this).prev().hasClass('input-ghost') ) {
                        var element = $("<input type='file' name='fachada_edit' id='id_fachada_edit' class='input-ghost' style='visibility:hidden; height:0'>");
                        element.change(function(){
                            element.next(element).find('input').val((element.val()).split('\\').pop());
                        });
                        $(this).find("button.btn-choose").click(function(){
                            element.click();
                        });
                        $(this).find("button.btn-reset").click(function(){
                            element.val(null);
                            $(this).parents(".input-file").find('input').val('');
                        });
                        $(this).find('input').css("cursor","pointer");
                        $(this).find('input').mousedown(function() {
                            $(this).parents('.input-file').prev().click();
                            return false;
                        });
                        return element;
                    }
                }
            );
        }

        $(function() {
            bs_input_file2();
        });
    </script>

{% endblock javascripts %}
