[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
black = "==19.10b0"
django-extensions = "*"
ipython = "*"
flake8 = "*"
mypy = "*"
pep8 = "*"
pre-commit = "*"
pylint-django = "*"

[packages]
django-autocomplete-light = "*"
django-ckeditor = "*"
django-cors-headers = "*"
django-crispy-forms = "*"
django-datatables-view = "*"
django-environ = "*"
django-geojson = "*"
django-jinja = "*"
django-leaflet = "*"
django-settings-export = "*"
django-suit = "*"
djangorestframework-datatables = "*"
djangorestframework-jwt = "*"
drf-yasg = "*"
gunicorn = "*"
jsonfield = "*"
psycopg2-binary = "*"
whitenoise = "*"
Django = "==2.2.18"
Markdown = "*"
Pillow = "*"
XlsxWriter = "*"

[requires]
python_version = "3.7.3"
