appdirs==1.4.4
astroid==2.3.3
attrs==19.3.0
autopep8==1.5
black==19.10b0
certifi==2020.4.5.2
cfgv==3.1.0
chardet==3.0.4
click==7.1.1
coreapi==2.3.3
coreschema==0.0.4
distlib==0.3.0
Django==2.2.13
django-autocomplete-light==3.5.1
django-ckeditor==5.9.0
django-cors-headers==3.2.1
django-environ==0.4.5
django-filter==2.2.0
django-geojson==3.0.0
django-js-asset==1.2.2
django-leaflet==0.26.0
django-settings-export==1.2.1
django-suit==0.2.28
djangorestframework==3.11.0
djangorestframework-datatables==0.5.2
drf-yasg==1.17.1
entrypoints==0.3
filelock==3.0.12
flake8==3.7.9
gunicorn==20.0.4
identify==1.4.13
idna==2.9
importlib-metadata==1.6.1
inflection==0.5.0
isort==4.3.21
itypes==1.2.0
Jinja2==2.11.1
jsonfield==3.1.0
lazy-object-proxy==1.4.3
Markdown==3.2.1
MarkupSafe==1.1.1
mccabe==0.6.1
mypy==0.770
mypy-extensions==0.4.3
nodeenv==1.3.5
packaging==20.4
pathspec==0.7.0
pep8==1.7.1
Pillow==7.0.0
pre-commit==2.2.0
psycopg2-binary==2.8.4
pycodestyle==2.5.0
pyflakes==2.1.1
pylint==2.4.4
pylint-django==2.0.14
pylint-plugin-utils==0.6
pyparsing==2.4.7
pytz==2020.1
PyYAML==5.3.1
regex==2020.2.20
requests==2.23.0
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
serpy==0.3.1
six==1.15.0
sqlparse==0.3.1
toml==0.10.0
typed-ast==1.4.1
typing-extensions==3.7.4.1
uritemplate==3.0.1
urllib3==1.25.9
virtualenv==20.0.15
whitenoise==5.1.0
wrapt==1.11.2
zipp==3.1.0
