{% extends "base_jinja.html" %}

{% block title %} {{ title }} {% endblock title %}

{% block stylesheets %}
{{ super() }}
<!-- DataTables -->
<link rel="stylesheet" href="{{ static('bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css') }}">
<link rel="stylesheet"
    href="{{ static('bower_components/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ static('bower_components/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}">
<style>
    .header th {
        height: 40px;
        line-height: 20px;
        vertical-align: middle;
        background-color: #bcd2ec;
        border-width: 0px;
        padding-left: 10px;
        padding-right: 10px;
    }
</style>
{% endblock stylesheets %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            IEU:
            <small>{{ title }}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Resumen LOEU</a></li>
            <li class="active">{{ title }}</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-info">
                    <div class="box-header">
                        {{ title }}
                        <a href="javascript:void(0)" data-toggle="tooltip" title="Agregar {{ title }}" type="button"
                            class="btn btn-success btn pull-right" onclick="loadModal(0)">Agregar</a>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">


                        <table width="100%" id="person"
                            class="table-sm table-hover table-bordered table-striped dataTable">
                            <thead class="header">
                                <tr>
                                    <th colspan="4"></th>
                                    <th>
                                        <select name="pais" id="pais_id" class="select2 form-control"
                                            style="width: 100%;"></select>
                                    </th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th class="text-center">Nombre</th>
                                    <th class="text-center">Seg. Nombre</th>
                                    <th class="text-center">Apellido</th>
                                    <th class="text-center">Seg. Apellido</th>
                                    <th class="text-center">País de nacimiento</th>
                                    <th class="text-center">Acciones</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
    <div id="popup" class="modal fade" role="dialog"></div>
</div>
<!-- /.content-wrapper -->



{% endblock content %}

{% block javascripts %}
{{ super() }}
<!-- DataTables -->
<script src="{{ static('bower_components/datatables.net/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ static('bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
<script src="{{ static('bower_components/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
<script src="{{ static('bower_components/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
<script src="{{ static('bower_components/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
<script src="{{ static('bower_components/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
<script src="{{ static('bower_components/jszip/dist/jszip.min.js') }}"></script>
<script src="{{ static('bower_components/pdfmake/build/pdfmake.min.js') }}"></script>
<script src="{{ static('bower_components/pdfmake/build/vfs_fonts.js') }}"></script>
<script src="{{ static('bower_components/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
<script src="{{ static('bower_components/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
<script src="{{ static('bower_components/datatables.net-buttons/js/buttons.colVis.min.js') }}"></script>
<!-- page script -->
<script src="{{ static('common_books.js') }}"></script>

<script>
    $(document).ready(function () {
        select2Ajax("pais_id", Django.pais_list, Django.place_holder_pais)
        var url_dt = Django['dt-person'];
        var oTable = $('#person').dataTable({
            "processing": true,
            "serverSide": true,
            "destroy": true,
            "responsive": true,
            "dom": 'Blfrtip',
            "buttons": [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5'
            ],
            "columnDefs": [{
                targets: [6],
                orderable: false,
                searchable: false,
            }],
            "ajax": {
                url: url_dt,
                data: function (d) {
                    d.pais_id = $("#pais_id").val()
                }
            }
        });


        $('#pais_id').change(function () {
            oTable.api().ajax.reload(null, false);
        });

    })


    loadModal = (id = 0) => {
        content = inputJs('nombre', 'Nombre', 'text')
        content += inputJs('other_nombre', 'Seg. Nombre', 'text')
        content += inputJs('apellido', 'Apellido', 'text')
        content += inputJs('other_last_name', 'Seg. Apellido', 'text')

        obj = {
            btnColor: 'primary',
            title: "{{ add_title }}",
            funcion: "newPerson",
            argumento: 0,
            btnLabel: "Guardar",
            content: content
        }

        $("#popup").empty().append(modalBody(obj)).modal('show')

    }

    detail = (obj) => {
        content = inputJs('nombre', 'Nombre', 'text', 'disabled', obj.name)
        content += inputJs('other_nombre', 'Seg. Nombre', 'text', 'disabled', obj.other_name)
        content += inputJs('apellido', 'Apellido', 'text', 'disabled', obj.last_name)
        content += inputJs('other_last_name', 'Seg. Apellido', 'text', 'disabled', obj.other_last_name)

        obj = {
            btnColor: 'default',
            title: "Detalle de la publicación " + obj.name,
            funcion: "closeModal",
            argumento: 0,
            btnLabel: "Ok",
            content: content
        }
        $("#popup").empty().append(modalBody(obj)).modal('show')


    }

    newPerson = (id = 0) => {

        data = {
            name: $("#nombre").val(),
            last_name: $("#nombre").val(),
            other_name: $("#nombre").val(),
            other_last_name: $("#nombre").val()

        }




    }


    closeModal = (id = 0) => {

        $("#popup").empty().modal('toggle')

    }
</script>

{% endblock javascripts %}
