<header class="main-header">
    <!-- Logo -->
    <a href="/" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">
            <b>E</b>U</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">
            <img src="/media/mppeu.png" alt="MPPEU" height="48" width="48">
            <img src="/media/opsu.png" alt="OPSU" height="48" width="48">
        </span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {% if request.user.is_authenticated %}
                            <img src="{{ request.user.avatar.url }}" id="user_avatar" class="user-image" alt="{{ request.user }}">
                            <span class="hidden-xs">{{ request.user }}</span>
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            {% if request.user.is_authenticated %}
                                <img src="{{ request.user.avatar.url }}" class="img-circle" alt="{{ request.user }}">
                                <p>
                                    <span class="hidden-xs">{{ request.user }}</span>
                                    <small>Miembro desde {{ request.user.date_joined.strftime('%B de %Y') }}</small>
                                </p>
                            {% endif %}
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="{{ url('cuenta:perfil') }}" class="btn btn-default btn-flat">Perfil</a>
                            </div>
                            <div class="pull-right">
                                <a href="{{ url('cuenta:logout') }}" class="btn btn-default btn-flat">Salir</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
                <li>
                    <a href="#" data-toggle="control-sidebar">
                        <i class="fa fa-gears"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<!-- =============================================== -->

<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">NAVEGACIÓN PRINCIPAL</li>
            {% if 'RevisorOEU' is in_user_group(request.user) %}
                <li class="treeview {% if 'loeu' in request.path %}active{% endif %}">
                    <a href="#">
                        <i class="fa fa-book"></i>
                        <span>LOEU</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        {% if request.user.is_superuser %}
                            <li class="">
                                <a href="{{ url('api_v1:schema-swagger-ui') }}" target = "_blank">
                                    <i class="fa fa-cloud"></i>
                                    <span>LOEU API V1</span>
                                </a>
                            </li>
                        {% endif %}
                        <li class="">
                            <a href="{{ url('oeu:tablero') }}">
                                <i class="fa fa-dashboard"></i>
                                <span>TABLERO</span>
                            </a>
                        </li>
                        {% include "reporte_loeu/menu.html" %}
                        {% include "oeu_menu.html" %}
                        {% include "oeuacademic_menu.html" %}
                        {% include "oeuconfig_menu.html" %}
                    </ul>
                </li>
            {% endif %}
            {% if 'pni' is in_user_group(request.user) %}
            <li class="treeview {% if 'sni' in request.path %}active{% endif %}">
                <a href="#">
                    <i class="fa fa-sign-in"></i>
                    <span>Prog. Nacional de Ingreso</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    {% include "snipni_menu.html" %}
                </ul>
            </li>
            {% endif %}
            <li class="treeview {% if 'configuraciones/' in request.path %}active{% endif %}">
                <a href="#">
                    <i class="fa fa-gears"></i>
                    <span>Configuración</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    {% include "configuracion_menu.html" %}
                </ul>
            </li>

            <li class="treeview {% if 'books/' in request.path %}active{% endif %}">
                <a href="#">
                    <i class="fa fa-book"></i>
                    <span>CENIDES</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    {% include "books_menu.html" %}
                </ul>
            </li>
        </ul>
    </section>
        <!-- /.sidebar -->
</aside>
