<div class="modal-dialog modal-side modal-top-right" id="area_conocimiento">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{% if object %}Editar {% else %}Agregar {% endif %} {{ titulo }}</h4>
            </div>
            {% if object %}
                <form class="form-horizontal" method="POST" role="form" action="{{ request.path }}">
            {% else %}
                <form class="form-horizontal" method="POST" role="form" action="{{ request.path }}">
            {% endif %}
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <div class="box-body">
                {% for field in form %}
                    {% if field.name != 'cod_activacion' and field.name != 'publicar' and field.name != 'editor' %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}"
                            class="col-sm-3 control-label">{{ field.label }}</label>
                        <div class="col-sm-9">
                            {{ field }}
                        </div>
                        <span class="help-block">
                            {% for error in field.errors %}
                            <ul>
                                <li class="text-red">{{ error }}</li>
                            </ul>
                            {% endfor %}
                        </span>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="box-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary pull-right">{%if object %}Editar{% else %}Agregar{% endif %} </button>
            </div>
              <!-- /.box-footer -->
        </form>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->

{{ form.media.js }}

<script type="text/javascript">

    $(function () {
        //Initialize Select2 Elements
        $('#id_carrerasfc_set-0-sfc').select2();
        $('#id_carreratitulo_set-0-titulo').select2();
        $('#id_localidad_edit').select2();
        $('#id_tipo_carrera_edit').select2();
        $('#id_area_conocimiento_edit').select2();
        $('#id_sub_area_conocimiento_edit').select2();
        $('#id_periodicidad_edit').select2();

    });
    $(document).ready(function () {
        $(".django-ckeditor-widget").css("width", "100%")
    });

</script>
