<div class="modal-info modal-dialog" id="carrera_detalle">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Detalle de la Carrera</h4>
            </div>
            <div class="modal-body">
                <dl class="dl-horizontal">
                    <dt>Localidad:</dt>
                    <dd>{{ object.localidad }}</dd>
                    <dt>Nombre de la Carrera:</dt>
                    <dd>{{ object.nombre }}</dd>
                    <dt>Descripción</dt>
                    <dd><p ALIGN="justify">{{ object.descripcion|safe }}</p></dd>
                    <dt>Título(s):</dt>
                    {% for titulo in titula %}
                    <dd>{{ titulo }} ({{ titulo.duracion }} {{ object.periodicidad.descripcion }})</dd>
                    {% endfor %}
                    <dt>Tipo de Carrera</dt>
                    <dd>{{ object.tipo_carrera }}</dd>
                    <dt>Mercado Ocupacional</dt>
                    <dd><p ALIGN="justify">{{ object.mercado_ocupacional|safe }}</p></dd>
                    <dt>Área de Conocimiento</dt>
                    <dd>{{ object.area_conocimiento }}</dd>
                    <dt>Sub Área de Conocimiento</dt>
                    <dd>{{ object.sub_area_conocimiento }}</dd>
                    <dt>Duración</dt>
                    <dd>{{ object.duracion }}</dd>
                    <dt>Periodicidad:</dt>
                    <dd>{{ object.periodicidad }}</dd>
                    <dt>Prioritaria</dt>
                    {% if object.prioritaria == True %}
                    <dd>Activo</dd>
                    {% else %}
                    <dd>Inactivo</dd>
                    {% endif %}
                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
